.multimedia{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(8, 200px);
    background-position: center;
    padding: 20px;
    grid-gap: 10px
}

.animales{
    background-size: cover;
    background-position: center;
    border:2px solid #161515af;
    justify-items: center;
    transition: all 0,8s;
}

.animales:hover{
    filter: grayscale(80%);
    transform: scale(0.9);
}

.animales1{
    background-image: url(../Imagenes/pexels-alexandra-bilham-7329892.jpg);
}
.animales2{
    background-image: url(../Imagenes/pexels-alexander-grey-1909802.jpg);
}
.animales3{
    background-image: url(../Imagenes/pexels-chevanon-photography-1108099.jpg);
}
.animales4{
    background-image: url(../Imagenes/pexels-kelvin-valerio-617278.jpg);
}
.animales5{
    background-image: url(../Imagenes/pexels-lumn-406014.jpg);
}
.animales6{
    background-image: url(../Imagenes/animalia-3020024_1280.jpg);
}
.animales7{
    background-image: url(../Imagenes/cute-3273789_1280.jpg);
}
.animales8{
    background-image: url(../Imagenes/dog-3438453_1280.jpg);
}

@media only screen and (min-width:480px){
    .multimedia{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and (min-width:768px) and (max-width:1023px){
    .multimedia{
        grid-template-columns: repeat(3, 1fr);
    }
    .animales1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .animales2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .animales3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .animales4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .animales5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .animales6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .animales7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .animales8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
}

@media only screen and (min-width:1024px){
    .multimedia{
        grid-template-columns: repeat(4, 1fr)
    }
}