body{
    background-image: url(Imagenes/paper-1074131_1920.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
}
h1 p{
    text-align: center;
}
.mensajeria{
    font-size: 20px;
}
.correo{
    font-size: 20px;
}
.andreani{
    font-size: 20px;
}
footer{
    bottom: 0;
    width: 100%;
    height: 130px;
    position: fixed;
}
footer img{
    width: 100%;
}