@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Martian+Mono:wght@300&family=Mooli&family=Roboto+Condensed&display=swap');

// font-family: 'Lato', sans-serif;
// font-family: 'Martian Mono', monospace;
// font-family: 'Mooli', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;

//fonts
$font1: 'Lato',
sans-serif;
$font2: 'Martian Mono',
monospace;
$font3: 'Mooli',
sans-serif;
$font4: 'Roboto Condensed',
sans-serif;
$color1: rgb(245 245 245 / 85%);
$fondo: url(Imagenes/texture-1504364_1280.jpg);

/* inicio estilos de pagina inicio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: $fondo;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    width: 100%;
    font-size: 10px;
    margin-bottom: 40px;
}

.navbar {
    background-color: #333333e1;

    nav-item {
        padding: 10px;
    }

    .nav-item:hover {
        background-color: rgba(240, 248, 255, 0.24);
        border-radius: 5px;
    }
}

.logo {
    height: 100px;
    border-radius: 50%;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    font-size: medium !important;
}

.slide {
    margin-top: 25px;
}

.slide img {
    height: 45vh;
}

.envios {
    padding-top: 25px;
    width: 100%;
    box-sizing: content-box !important;
}

#banner {
    width: 100%;
}

footer {
    position: absolute;
    background-color: #333333e1;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.derecha {
    text-align: center;
}

.redes {
    font-size: 50px;
}

.redes i {
    letter-spacing: 15px;
}

/* fin estilos de pagina inicio */

/* inicio estilos de pagina nosotros */

.body_nosotros {
    background-image: $fondo;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h1nosotros {
    font-size: 30px;
    font-family: $font2;

}

.info {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: black;
    background-color: $color1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.info p{
    font-size: medium;
}

.info-form {
    padding: 20px;
}

/* fin estilos de pagina nosotros */

/* inicio estilos de pagina envios */

.body_envios {
    background-image: $fondo;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main_envios {
    background-color: $color1;
    padding: 20px;
}

.h1envios {
    text-align: center;
    font-size: 20px;
    font-family: $font3;
}

::marker{
    font-size: 20px;
}

.mensajeria {
    font-size: 20px;
    padding-top: 30px;
    font-family: $font3;
}

.correo {
    font-size: 20px;
    padding-top: 20px;
    font-family: $font3;
}

.andreani {
    font-size: 20px;
    padding-top: 20px;
    font-family: $font3;
}

/* fin estilos de pagina envios */

/* inicio estilos de pagina contacto */

header {
    align-items: center;
}

.body_contacto {
    background-image: $fondo;
    width: 100%;
    align-items: center;
    text-align: center;

}

.h2contacto {
    font-family: $font4;
    text-align: center;
    font-size: 20px;
}

.info-contacto {
    text-align: center;
    font-family: $font4;
}

.info-form {
    background-color: $color1;
    width: 30%;
    margin: auto;
}

.form__input {
    font-family: $font4;
}

.form__cta {
    font-family: $font4;
    background-color: rgba(109, 12, 76, 0.507);
    border-radius: 5px;
    padding: .8em 0;
}

.form {
    background-color: $color1;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
}

.form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    height: 200px;
}

.form__input{
    height: 30px;
    transition: height 1s;
}

.form__input:hover{
    height: 55px;
}

.form__title {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.container {
    padding-bottom: 50px;
}

/* fin estilos de pagina contacto */

/* inicio estilos de pagina ubicacion */

.horarios {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: black;
    background-color: $color1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 70%;
}
 .horarios ul{
    padding-left: 0;
 }
.direccion {
    padding-top: 10px;
    font-size: 15px;
}

.mapa {
    margin: auto;
    display: grid;
    background-position: center;
    padding-top: 20px
}

/* fin estilos de pagina ubicacion */

@import "_contenedor";
@import "_multimedia";